// out:false
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


#app {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}




.componentLibrary {
  width: 190px;
  background: rgb(41, 41, 41);
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  border-right: 1px solid rgb(35, 35, 35);


}

.formRenderContainer {

  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 100px;
  background: aliceblue;
  position: relative;

  .formRender {
    margin: 30px;
    min-height: 200px;
    background: white;
    box-shadow: 0px 3px 10px 0px #00000022;
    border-radius: 5px;
  }

}

.grid-stack-item {

  .grid-stack-item-content {

    box-sizing: border-box;
    background: rgb(255, 255, 255);
    overflow-y: visible !important;
    overflow-x: visible !important;
    border: 1px solid #1989fa;

    cursor:all-scroll;


    .ui-setting-Btn {
      position: absolute;
      top: -21px;
      padding-top: 2px;
      cursor: pointer;
      background: #1989fa;
      color: white;
    }

  }

  .grid-stack-item-content.library {
    background: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;

    ion-icon {
      height: 20px;
      width: 20px;
      border: 5px solid rgb(20, 19, 19);
      border-radius: 4px;
      background: rgb(20, 19, 19);

    }

    p {
      padding-left: 10px;
      font-size: 14px;
      line-height: 32px;
      height: 32px;
      color: gainsboro;
    }

  }


}

.grid-stack-item.ui-resizable-autohide {

  .grid-stack-item-content {
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .ui-setting-Btn {
    display: none;
  }
}

.grid-stack-item.ui-draggable-dragging {

  .grid-stack-item-content.library {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    background: rgb(20, 19, 19);
    cursor: pointer;

    ion-icon {
      height: 20px;
      width: 20px;
      border: 5px solid rgb(20, 19, 19);
      border-radius: 4px;
    }

    p {
      padding-left: 10px;
      font-size: 14px;
      line-height: 32px;
      height: 32px;
    }

  }
}