// out:false
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(216, 216, 216);
}

textarea::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b3c3d;
}

.monacoDrawer {
  .ant-drawer-body {
    padding: 0 !important;
  }
}

.ant-drawer-header {
  padding: 6px !important;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


#app {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.manageContainer {
  display: flex;
  width: 100%;

  .pagesView {
    flex-grow: 1;
  }

  .pageIndicator {
    background: #1989fa;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px 10px;
    color: white;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
  }

  .add {
    width: 50px;
    background-color: #2b95ff;
    cursor: pointer;

    &:hover {
      background-color: #1989fa;
    }

    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-size: 14px;
    }
  }
}

.idataItem{
  cursor: pointer;
  line-height: 24px;
  border: none;
  display: block;
  &:hover{
    color: #2b95ff;
    text-decoration: underline;

  }
}

.attributeBoard {
  width: 290px;
  background: rgb(41, 41, 41);
  border-left: 1px solid rgb(35, 35, 35);

  .pageSetting {

    height: 100%;
    overflow-y: auto;
    padding-bottom: 30px;

    .title {
      color: white;
      background: #3b3c3d;
      border-bottom: 1px solid #232323;
      font-size: 14px;
      padding: 10px;
      margin-bottom: 10px;
    }

    .button {
      margin-left: 10px;
      margin-top: 10px;
    }

    .pageDataItem {
      border-radius: 5px;
      background: #1989fa;
      padding: 5px 10px;
      position: relative;

      margin: 10px;
      font-size: 12px;


      .showDistance {
        height: 30px;
        rotate: 45deg;
        left: 122px;
        top: 80px;
        color: white;
        position: absolute;
      }

      .label {
        color: #d5eaff;
        padding-top: 6px;
        svg{
          font-size: 14px;
          cursor: pointer;
        }
      }

      .describe {
        color: #86fcff;
        font-style: oblique;
        padding-bottom: 5px;
      }

      .delete {
        position: absolute;
        color: rgb(121, 235, 248);
        right: 5px;
        top: 2px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          color: rgb(216, 248, 255);
        }
      }

    }
  }
}

.componentLibrary {
  width: 190px;
  background: rgb(41, 41, 41);
  box-sizing: border-box;
  position: relative;
  border-right: 1px solid rgb(35, 35, 35);

  .grid-stack-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  overflow-y: auto;

  .title {
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: #3b3c3d;
    border-bottom: 1px solid #232323;
    padding: 9px;

    div {
      padding-left: 8px;
      font-size: 16px;
    }

    .icon {
      position: absolute;
      right: 0px;
      font-size: 12px;
      padding: 5px;
      cursor: pointer;
    }
  }



}

.formRenderContainer {

  flex-grow: 1;
  background: #434647;
  position: relative;

  .formRender {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 550px;
    border-radius: 5px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      /* Specify the background image to be used */
      background-image: url(../src/assets/gridBackground.png);
      background-position: center top;
      background-repeat: repeat-y;

      /* Specify the background image */
      opacity: 1;
    }



    .flowContainer {
      position: relative;
      z-index: 1;
      background: white;
      min-height: 40px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;




      &:hover {
        .containerDimension {
          display: block;
        }

        .ui-setting-Btn {
          display: flex;
          align-items: center;
          z-index: 2;
          justify-content: center;
        }

        box-shadow: 0 0 10px 0px #68a6e3;
        background-color: #e4edff;
        z-index: 3;
      }

      .containerDimension {
        display: none;
        position: absolute;
        height: 22px;
        font-size: 13px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        background: white;
        padding-right: 10px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        svg {
          left: 5px;
          top: 5px;
          position: absolute;
          rotate: 90deg;
          color: gray;
        }

        >div {
          zoom: 0.7;
          font-size: 12px;
          padding-left: 29px;
          margin-top: 3px;
          margin-bottom: -10px;
          white-space: nowrap;

          &:nth-child(3) {
            margin-left: 2px;
          }
        }
      }

      .ui-setting-Btn {
        position: absolute;
        z-index: 1;
        top: 0px;
        cursor: pointer;
        background: #1989fa;
        color: white;
        height: 20px;
        width: 20px;
        display: none;

      }
    }


  }



  .floatButtonContainer {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    z-index: 9;
    background: #3b3c3d;
    border-bottom: 1px solid #232323;
    width: 100%;
    align-items: center;
    height: 43px;
    padding-left: 10px;

    .floatButton {
      margin-right: 6px;
      color: white;
      background: #565656;
      border-radius: 2px;
      height: 22px;
      padding-left: 5px;
      padding-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      ion-icon {
        font-size: 14px;
      }

      span {
        font-size: 10px;
        padding-left: 5px;
      }

      &:hover {
        box-shadow: 0 0 6px 0px #68a6e3;
      }
    }
  }


}

.renderPage {
  position: relative;
}

.tAlignRight {
  input {
    text-align: right;
  }

  .ant-input-number-handler-wrap {
    display: none;
  }
}

.tAlignCenter {
  input {
    text-align: center;
  }

  .ant-input-number-handler-wrap {
    display: none;
  }
}

.tAlignRight {
  input {
    text-align: right;
  }

  .ant-input-number-handler-wrap {
    display: none;
  }
}

.tAlignRight {
  input {
    text-align: right;
  }

  .ant-input-number-handler-wrap {
    display: none;
  }
}

.layoutType {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;

  &>div {
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    height: 92px;
    width: 92px;
    border: 1px solid gainsboro;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      background: #1989fa;
      color: white;
      border: none;
    }

    &>div {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}

.grid-stack-item {

  overflow-y: auto;

  .grid-stack-item-content {

    box-sizing: border-box;
    background: rgb(255, 255, 255);
    overflow-y: visible !important;
    overflow-x: visible !important;
    border: 1px solid #1989fa;
    background: aliceblue;

    cursor: all-scroll;

    .containerDimension {
      display: block;
      position: absolute;
      height: 22px;
      font-size: 13px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      background: white;
      padding-right: 10px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      svg {
        left: 5px;
        top: 5px;
        position: absolute;
        rotate: 90deg;
        color: gray;
      }

      >div {
        zoom: 0.7;
        font-size: 12px;
        padding-left: 29px;
        margin-top: 3px;
        margin-bottom: -10px;

        &:nth-child(3) {
          margin-left: 2px;
        }
      }
    }

    .ui-setting-Btn {
      position: absolute;
      z-index: 1;
      top: 0px;
      cursor: pointer;
      background: #1989fa;
      color: white;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  .grid-stack-item-content.library {
    background: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      svg {
        display: block;
      }
    }

    svg {
      height: 20px;
      width: 20px;
      border: 5px solid rgb(20, 19, 19);
      border-radius: 4px;
      background: rgb(20, 19, 19);
      display: none;
    }

    p {
      padding-left: 10px;
      font-size: 14px;
      line-height: 32px;
      height: 32px;
      color: gainsboro;
      margin: 0;
    }

  }


}

.grid-stack-item.ui-resizable-autohide {

  .grid-stack-item-content {
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .containerDimension {
    display: none;
  }

  .ui-setting-Btn {
    display: none;
  }
}

.grid-stack-item.ui-draggable-dragging {

  .grid-stack-item-content.library {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    background: rgb(20, 19, 19);
    cursor: pointer;

    ion-icon {
      height: 20px;
      width: 20px;
      border: 5px solid rgb(20, 19, 19);
      border-radius: 4px;
    }

    p {
      padding-left: 10px;
      font-size: 14px;
      line-height: 32px;
      height: 32px;
    }

  }
}