// out:false
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.componentLibrary {
  width: 180px;
  background: rgb(41, 41, 41);
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  position: relative;

  .grid-stack-item-content {
    p {
      padding-left: 10px;
      font-size: 14px;
      line-height: 32px;
      height: 32px;
      color: gainsboro;
      cursor: pointer;

      &:hover {
        background: black;
      }
    }
  }
}

#app {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}


.formRenderContainer {

  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 100px;
  background: aliceblue;



  .formRender {

    .grid-stack-item-content {
      box-sizing: border-box;
      background: rgb(255, 255, 255);
    }

    .grid-stack-item.ui-resizable-autohide {
      .ui-setting-Btn {
        display: none;
      }
    }

    .ui-setting-Btn {
      position: absolute;
      right: 4px;
      top: 4px;
      cursor: pointer;
    }


    .vanfield {
      margin-top: 10px;
    }

    .describe {
      color: gray;
      font-size: 14px;
      padding: 10px 0 0 15px;
      display: flex;
      align-items: center;

      span {
        padding-left: 5px;
      }
    }

    .formBottom {
      margin-top: 30px;
    }
  }

}

.formEditor {
  display: flex;

  .component {
    background-color: aliceblue;
    width: 115px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;

    .com {
      float: left;
      margin: 10px 0 0 17px;
      flex-shrink: 0;
      border: 1px solid rgb(79, 80, 84);
      background: white;
      height: 70px;
      width: 70px;
      border-radius: 10px;
      margin-top: 15px;

      &:hover {
        box-shadow: 0px 0px 10px rgb(29, 194, 240);
        border: 1px solid rgb(81, 82, 92);
        cursor: grab;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      ion-icon {
        font-size: 22px;
        color: rgb(142, 142, 151);
      }

      span {
        margin-top: 5px;
        font-size: 14px;
        color: rgb(65, 65, 69);
      }
    }
  }

  .formShow {
    width: 639px;
    position: relative;

    .form {
      position: absolute;
      left: 197px;
      top: 90px;
      width: 237px;
      height: 509px;
      border-radius: 20px;
      overflow-y: auto;
    }

    .bg {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .attribute {
    flex-grow: 1;
  }


}